<a href="https://colab.research.google.com/github/aghapygad336/MENA/blob/master/gtd_happiness.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

data2015 = pd.read_csv('/content/drive/My Drive/MENA/2015.csv',encoding = "ISO-8859-1", engine = 'python')
data2016 = pd.read_csv('/content/drive/My Drive/MENA/2016.csv',encoding = "ISO-8859-1", engine = 'python')
data2017 = pd.read_csv('/content/drive/My Drive/MENA/2017.csv',encoding = "ISO-8859-1", engine = 'python')
happiness = data2015.append(data2016.append(data2017,sort=True),sort= True)

gtd = pd.read_csv('/content/drive/My Drive/MENA/golbal.csv',encoding = "ISO-8859-1", engine = 'python', usecols=[1,2,3,8,10,19,20,21,22,26,27,29,35,41,71,84,100,101,103,58])
gtd = gtd[(gtd['region_txt'] =='Middle East & North Africa') & (gtd['iyear'] > 2000)]

In [0]:
# gtd missing values
numeric_ = gtd._get_numeric_data()
cat = gtd.select_dtypes(include='object')

mean_nan = numeric_.fillna(numeric_.mean()).dropna(axis=1, how='all')
cat_nan = cat.loc[:, cat.isnull().mean() <0.25]
gtd = mean_nan.join(cat_nan)

In [0]:
# happiness missing values
numeric_ = happiness._get_numeric_data()
cat = happiness.select_dtypes(include='object')

mean_nan = numeric_.fillna(numeric_.mean()).dropna(axis=1, how='all')
cat_nan = cat.loc[:, cat.isnull().mean() <0.25]
happiness = mean_nan.join(cat_nan)

In [0]:
def encodIng(dfData):    
    dataLabels=dfData.columns
    data_C=dfData.shape[1]
    data_R=dfData.shape[0]
    for c in range(data_C):
        Region_nums=[]
        Region_nums=dfData[dataLabels[c]].unique()
        Region_nums={Region_nums[i]: i for i in range(len(Region_nums))}
        Regions = Region_nums
        dfData[dataLabels[c]].replace(Regions, inplace=True)
    return dfData

In [34]:
happinessEncoded=encodIng(happiness)
happinessEncoded

     Country  Dystopia Residual  ...  Whisker.high  Whisker.low
0          0                0.0  ...           0.0          0.0
1          1                1.0  ...           0.0          0.0
2          2                2.0  ...           0.0          0.0
3          3                3.0  ...           0.0          0.0
4          4                4.0  ...           0.0          0.0
..       ...                ...  ...           ...          ...
150      153              315.0  ...         151.0        151.0
151      155              315.0  ...         152.0        152.0
152      145              315.0  ...         153.0        153.0
153      156              315.0  ...         154.0        154.0
154      147              315.0  ...         155.0        155.0

[470 rows x 22 columns]