<a href="https://colab.research.google.com/github/aghapygad336/MENA/blob/master/gtd_happiness.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

data2015 = pd.read_csv('/content/drive/My Drive/MENA/2015.csv',encoding = "ISO-8859-1", engine = 'python')
data2016 = pd.read_csv('/content/drive/My Drive/MENA/2016.csv',encoding = "ISO-8859-1", engine = 'python')
data2017 = pd.read_csv('/content/drive/My Drive/MENA/2017.csv',encoding = "ISO-8859-1", engine = 'python')
happiness = data2015.append(data2016.append(data2017,sort=True),sort= True)

gtd = pd.read_csv('/content/drive/My Drive/MENA/golbal.csv',encoding = "ISO-8859-1", engine = 'python', usecols=[1,2,3,8,10,19,20,21,22,26,27,29,35,41,71,84,100,101,103,58])
gtd = gtd[(gtd['region_txt'] =='Middle East & North Africa') & (gtd['iyear'] > 2000)]

In [0]:
# gtd missing values
numeric_ = gtd._get_numeric_data()
cat = gtd.select_dtypes(include='object')

mean_nan = numeric_.fillna(numeric_.mean()).dropna(axis=1, how='all')
cat_nan = cat.loc[:, cat.isnull().mean() <0.25]
gtd = mean_nan.join(cat_nan)

In [99]:
gtd

        iyear  ...                           weapsubtype1_txt
71651    2001  ...                     Unknown Explosive Type
71653    2001  ...                                  Pipe Bomb
71654    2001  ...                                        NaN
71655    2001  ...                     Unknown Explosive Type
71658    2001  ...    Suicide (carried bodily by human being)
...       ...  ...                                        ...
181670   2017  ...                                        NaN
181671   2017  ...                     Unknown Explosive Type
181674   2017  ...                                        NaN
181679   2017  ...                           Unknown Gun Type
181687   2017  ...  Projectile (rockets, mortars, RPGs, etc.)

[40806 rows x 20 columns]

In [0]:
# happiness missing values
numeric_ = happiness._get_numeric_data()
cat = happiness.select_dtypes(include='object')

mean_nan = numeric_.fillna(numeric_.mean()).dropna(axis=1, how='all')
cat_nan = cat.loc[:, cat.isnull().mean() <0.25]
happiness = mean_nan.join(cat_nan)

In [0]:
def encoding(dfData):    
    
    df = dfData.copy().select_dtypes(include='object')
    # print(df.columns)
    rows,cols = dfData.shape
    encodings = {}
    for col in df.columns:
        Region_nums = []
        Region_nums = df[col].unique()
        Region_nums = { Region_nums[i]: i for i in range(len(Region_nums)) }
        encodings.update({col:Region_nums})
        dfData[col].replace(Region_nums, inplace=True)
    return dfData,encodings

def get_by_value(dic,value):
    for key, val in dic.items():
        if val == value :
            return key

In [0]:
gtd, gtd_encodings = encoding(gtd)
happiness, happiness_encodings = encoding(happiness)

In [122]:
get_by_value(gtd_encodings['gname'],67)

'Al-Qaida in the Arabian Peninsula (AQAP)'

In [135]:
top_5 = gtd['gname'].value_counts()[1:6]
top_5 = [203,27,107,67,58]
gtd = gtd[gtd['gname'].isin(top_5)]
gtd

        iyear  imonth  iday  ...  natlty1_txt  gname  weapsubtype1_txt
72138    2001       4     4  ...           10     27                15
75727    2003       7     8  ...            1     27                 5
75737    2003       7    10  ...            1     27                 4
75948    2003      10    12  ...           10     58                 6
76090    2003      12     1  ...            1     27                15
...       ...     ...   ...  ...          ...    ...               ...
181639   2017      12    29  ...           10    203                 2
181670   2017      12    31  ...           10    203                 2
181671   2017      12    31  ...           10    203                 0
181674   2017      12    31  ...           10    203                 2
181679   2017      12    31  ...           10    203                 5

[9498 rows x 20 columns]