<a href="https://colab.research.google.com/github/aghapygad336/MENA/blob/master/gtd_happiness.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.ensemble import ExtraTreesClassifier, AdaBoostRegressor
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import random
import pandas as pd
import numpy as np
from openpyxl.utils import dataframe
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
import seaborn as sns
from math import sqrt
import matplotlib.pyplot as plt
import math
from matplotlib import colors as cs
from scipy.stats import pearsonr
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import scale
from sklearn import preprocessing, metrics
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, precision_score, recall_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import GridSearchCV

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

data2015 = pd.read_csv('/content/drive/My Drive/MENA/2015.csv',encoding = "ISO-8859-1", engine = 'python')
data2016 = pd.read_csv('/content/drive/My Drive/MENA/2016.csv',encoding = "ISO-8859-1", engine = 'python')
data2017 = pd.read_csv('/content/drive/My Drive/MENA/2017.csv',encoding = "ISO-8859-1", engine = 'python')
happiness = data2015.append(data2016.append(data2017,sort=True),sort= True)

gtd = pd.read_csv('/content/drive/My Drive/MENA/golbal.csv',encoding = "ISO-8859-1", engine = 'python', usecols=[1,2,3,8,10,19,20,21,22,26,27,29,35,41,71,84,100,101,103,58])
gtd = gtd[(gtd['region_txt'] =='Middle East & North Africa') & (gtd['iyear'] > 2000)]

In [0]:
# gtd missing values
numeric_ = gtd._get_numeric_data()
cat = gtd.select_dtypes(include='object')

mean_nan = numeric_.fillna(numeric_.mean()).dropna(axis=1, how='all')
cat_nan = cat.loc[:, cat.isnull().mean() <0.25]
gtd = mean_nan.join(cat_nan)

In [0]:
# happiness missing values
numeric_ = happiness._get_numeric_data()
cat = happiness.select_dtypes(include='object')

mean_nan = numeric_.fillna(numeric_.mean()).dropna(axis=1, how='all')
cat_nan = cat.loc[:, cat.isnull().mean() <0.25]
happiness = mean_nan.join(cat_nan)

In [0]:
def encoding(dfData):    
    
    df = dfData.copy().select_dtypes(include='object')
    # print(df.columns)
    rows,cols = dfData.shape
    encodings = {}
    for col in df.columns:
        Region_nums = []
        Region_nums = df[col].unique()
        Region_nums = { Region_nums[i]: i for i in range(len(Region_nums)) }
        encodings.update({col:Region_nums})
        dfData[col].replace(Region_nums, inplace=True)
    return dfData,encodings

def get_by_value(dic,value):
    for key, val in dic.items():
        if val == value :
            return key

In [0]:
gtd, gtd_encodings = encoding(gtd)
happiness, happiness_encodings = encoding(happiness)

In [37]:
get_by_value(gtd_encodings['gname'],67)

'Al-Qaida in the Arabian Peninsula (AQAP)'

In [38]:
top_5 = gtd['gname'].value_counts()[1:6]
top_5 = [203,27,107,67,58]
gtd = gtd[gtd['gname'].isin(top_5)]
gtd

        iyear  imonth  iday  ...  natlty1_txt  gname  weapsubtype1_txt
72138    2001       4     4  ...           10     27                15
75727    2003       7     8  ...            1     27                 5
75737    2003       7    10  ...            1     27                 4
75948    2003      10    12  ...           10     58                 6
76090    2003      12     1  ...            1     27                15
...       ...     ...   ...  ...          ...    ...               ...
181639   2017      12    29  ...           10    203                 2
181670   2017      12    31  ...           10    203                 2
181671   2017      12    31  ...           10    203                 0
181674   2017      12    31  ...           10    203                 2
181679   2017      12    31  ...           10    203                 5

[9498 rows x 20 columns]

In [39]:
happiness

     Dystopia Residual  Dystopia.Residual  ...  Whisker.low  Country
0              2.51738           1.850238  ...     5.255713        0
0              2.51738           1.850238  ...     5.255713        1
0              2.51738           1.850238  ...     5.255713        2
0              2.73939           1.850238  ...     5.255713        0
0              2.73939           1.850238  ...     5.255713        1
..                 ...                ...  ...          ...      ...
156            1.83302           1.850238  ...     5.255713      165
156            1.83302           1.850238  ...     5.255713      165
156            2.10404           1.850238  ...     5.255713      165
156            2.10404           1.850238  ...     5.255713      165
157            1.56726           1.850238  ...     5.255713      162

[1404 rows x 21 columns]

In [0]:

combinedData=pd.merge(gtd, happiness, left_on='country_txt', right_on='Country')

happiness, happiness_encodings = encoding(happiness)
combinedDataE, combinedData_encodings = encoding(combinedData)

In [41]:
combinedDataE.isna().sum()

iyear                            0
imonth                           0
iday                             0
crit1                            0
crit2                            0
crit3                            0
doubtterr                        0
success                          0
suicide                          0
claimed                          0
nkillter                         0
nwound                           0
nwoundte                         0
country_txt                      0
region_txt                       0
attacktype1_txt                  0
targtype1_txt                    0
natlty1_txt                      0
gname                            0
weapsubtype1_txt                 0
Dystopia Residual                0
Dystopia.Residual                0
Economy (GDP per Capita)         0
Economy..GDP.per.Capita.         0
Family                           0
Freedom                          0
Generosity                       0
Happiness Rank                   0
Happiness Score                  0
Happiness.Rank                   0
Happiness.Score                  0
Health (Life Expectancy)         0
Health..Life.Expectancy.         0
Lower Confidence Interval        0
Standard Error                   0
Trust (Government Corruption)    0
Trust..Government.Corruption.    0
Upper Confidence Interval        0
Whisker.high                     0
Whisker.low                      0
Country                          0
dtype: int64

In [42]:
combinedDataE

       iyear  imonth  iday  ...  Whisker.high  Whisker.low  Country
0       2001       4     4  ...      5.452326     5.255713        7
1       2001       4     4  ...      5.452326     5.255713        7
2       2001       4     4  ...      7.379510     7.248490        7
3       2001       4     4  ...      5.452326     5.255713        7
4       2001       4     4  ...      5.452326     5.255713        7
...      ...     ...   ...  ...           ...          ...      ...
85477   2015      10    17  ...      5.452326     5.255713       14
85478   2015      10    17  ...      6.722047     6.573952       14
85479   2015      10    17  ...      5.452326     5.255713       14
85480   2015      10    17  ...      5.452326     5.255713       14
85481   2015      10    17  ...      6.671149     6.484851       14

[85482 rows x 41 columns]

In [0]:
def SplitTrainTes(dataSet):
    train_dataSet=dataSet[(dataSet['iyear'] >=2000) & (dataSet['iyear'] <= 2016)]
    test_dataSet=dataSet[dataSet['iyear'] ==2017]
    return train_dataSet,test_dataSet

In [0]:
train_GTD,test_GTD=SplitTrainTes(gtd)
train_Combined,test_Combined=SplitTrainTes(combinedData)

In [0]:
def splitX_SplitY(trainD,testD):
    x_train = trainD.drop("gname", axis=1)
    y_train = trainD["gname"]
    x_test = testD.drop("gname", axis=1)
    y_test = testD["gname"]
    return x_train,y_train,x_test,y_test

In [0]:
x_trainGTD,y_trainGTD,x_testGTD,y_testGTD=splitX_SplitY(train_GTD,test_GTD)
x_trainCombined,y_trainCombined,x_testCombined,y_testCombined=splitX_SplitY(train_Combined,test_Combined)

In [0]:
from sklearn.metrics import multilabel_confusion_matrix
def Fmeasure(estimator,x_train,y_train,x_test,y_test):
    y_pred_train = estimator.predict(x_train)
    y_pred_test = estimator.predict(x_test)
    print('Train Set Accuracy : ', accuracy_score(y_train, y_pred_train))
    print('Train Set Precision : ', precision_score(y_train, y_pred_train, average='micro'))
    print('Train Set Recall : ', recall_score(y_train, y_pred_train, average='micro'))
    print('Train F-Score for each class : ', f1_score(y_train, y_pred_train, average='micro'))
    print('Train Mean F-Score for both classes : ', f1_score(y_train, y_pred_train, average='micro'))

    print('----------------------------------------------------------------------')
    print('Test Set Accuracy : ', accuracy_score(y_test, y_pred_test))
    print('Test Set Precision : ', precision_score(y_test, y_pred_test, average='micro'))
    print('Test Set Recall : ', recall_score(y_test, y_pred_test, average='micro'))
    print('Test F-Score for each class : ', f1_score(y_test, y_pred_test, average='micro'))
    print('Test Mean F-Score for both classes : ', f1_score(y_test, y_pred_test, average='micro'))

    print('----------------------------------------------------------------------')

In [0]:
def kNearestNeighborsFunction(x_train,y_train,x_test,y_test):
    neighbors = list(range(1, 30, 2))
    # empty list that will hold cv scores
    cv_scores = []
    # perform 10-fold cross validation
    for k in neighbors:
        knn = KNeighborsClassifier(n_neighbors=k)
        scores = cross_val_score(knn, x_train, y_train, cv=10, scoring='accuracy')
        cv_scores.append(scores.mean())

    mse = [1 - x for x in cv_scores]
    optimal_k = neighbors[mse.index(min(mse))]
    n=optimal_k
    print('Best N found at ' , n)
    knn = KNeighborsClassifier(n_neighbors=n)
    knn.fit(x_train,y_train)
    Fmeasure(knn,x_train,y_train,x_test,y_test)

In [0]:

kNearestNeighborsFunction(x_trainGTD,y_trainGTD,x_testGTD,y_testGTD)

In [0]:
kNearestNeighborsFunction(x_trainCombined,y_trainCombined,x_testCombined,y_testCombined)

In [0]:

def DT (x_train,y_train,x_test,y_test):
    ct_gini = DecisionTreeClassifier()
    ct_entropy = DecisionTreeClassifier(criterion="entropy")
    ct_gini = ct_gini.fit(x_train, y_train)
    ct_entropy = ct_entropy.fit(x_train, y_train)
    Fmeasure(ct_entropy,x_train,y_train,x_test,y_test)
    Fmeasure(ct_gini,x_train,y_train,x_test,y_test)

In [0]:
DT(x_trainGTD,y_trainGTD,x_testGTD,y_testGTD)

In [0]:
DT(x_trainCombined,y_trainCombined,x_testCombined,y_testCombined)

In [0]:
def NB(x_train,y_train,x_test,y_test):
    nb = GaussianNB()
    nb = nb.fit(x_train, y_train)
    Fmeasure(nb,x_train,y_train,x_test,y_test)

In [0]:
NB(x_trainGTD,y_trainGTD,x_testGTD,y_testGTD)

In [0]:
NB(x_trainCombined,y_trainCombined,x_testCombined,y_testCombined)

In [0]:
def LR(x_train,y_train,x_test,y_test):
    import warnings
    warnings.filterwarnings("ignore")

    grid = {"C": np.logspace(-3, 3, 7), "penalty": ["l1", "l2"]}  # l1 lasso l2 ridge
    logreg = LogisticRegression()
    logreg_cv = GridSearchCV(logreg, grid, cv=10)
    logreg_cv.fit(x_train, y_train)
    print("tuned hpyerparameters :(best parameters) ", logreg_cv.best_params_)
    Fmeasure(logreg_cv,x_train,y_train,x_test,y_test)
    print("accuracy :", logreg_cv.best_score_)

In [0]:
LR(x_trainGTD,y_trainGTD,x_testGTD,y_testGTD)

In [0]:
def AB(x_train,y_train,x_test,y_test):
    import warnings
    warnings.filterwarnings("ignore")

    param_grid = {
        'learning_rate': [.1, .2, .3, .4, .5],

        'n_estimators': [50, 100, 150, 200, 250]
    }

    classifier = AdaBoostClassifier()
    grid_Search = GridSearchCV(classifier, param_grid=param_grid)
    kk = grid_Search.fit(x_train, y_train)
    Fmeasure(kk,x_train,y_train,x_test,y_test)

In [0]:
AB(x_trainGTD,y_trainGTD,x_testGTD,y_testGTD)

In [0]:
AB(x_trainCombined,y_trainCombined,x_testCombined,y_testCombined)

In [0]:
def SVM(x_train,y_train,x_test,y_test):
    from sklearn.svm import SVC
    svclassifier = SVC(kernel='poly', degree=8)
    svclassifier.fit(x_train, y_train)
    Fmeasure(svclassifier,x_train,y_train,x_test,y_test)

In [0]:
SVM(x_trainGTD,y_trainGTD,x_testGTD,y_testGTD)