<a href="https://colab.research.google.com/github/aghapygad336/MENA/blob/master/MENA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#import necessary modules
import csv
with open('2015.csv','rt')as f:
  data = csv.reader(f)

<class '_io.TextIOWrapper'>

In [36]:
import pandas as pd
data = pd.read_csv('TDS2017.csv',encoding = "ISO-8859-1", engine = 'python')

            eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0      197000000001   1970       7     2  ...      0.0       0.0     0.0      NaN
1      197000000002   1970       0     0  ...      1.0       1.0     1.0      NaN
2      197001000001   1970       1     0  ...     -9.0       1.0     1.0      NaN
3      197001000002   1970       1     0  ...     -9.0       1.0     1.0      NaN
4      197001000003   1970       1     0  ...     -9.0       1.0     1.0      NaN
...             ...    ...     ...   ...  ...      ...       ...     ...      ...
12309  198011160006   1980      11    16  ...     -9.0       0.0    -9.0      NaN
12310  198011160007   1980      11    16  ...     -9.0       0.0    -9.0      NaN
12311  198011160008   1980      11    16  ...     -9.0       0.0    -9.0      NaN
12312  198011160009   1980      11    16  ...      1.0       0.0     1.0      NaN
12313  198011160010   1980      11    16  ...      NaN       NaN     NaN      NaN

[12314 rows x 135 columns]