<a href="https://colab.research.google.com/github/aghapygad336/MENA/blob/master/MENA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/2015.csv',encoding = "ISO-8859-1", engine = 'python')
data

         Country  ... Dystopia Residual
0    Switzerland  ...           2.51738
1        Iceland  ...           2.70201
2        Denmark  ...           2.49204
3         Norway  ...           2.46531
4         Canada  ...           2.45176
..           ...  ...               ...
153       Rwanda  ...           0.67042
154        Benin  ...           1.63328
155        Syria  ...           0.32858
156      Burundi  ...           1.83302
157         Togo  ...           1.56726

[158 rows x 12 columns]

In [104]:
data.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [112]:
Region_nums = {"Region":     {'Western Europe':0, 'North America':1, 'Australia and New Zealand':2,
 'Middle East and Northern Africa':3, 'Latin America and Caribbean':4,
 'Southeastern Asia':5, 'Central and Eastern Europe' 'Eastern Asia':6,
 'Sub-Saharan Africa':7, 'Southern Asia':8}}
data.replace(Region_nums, inplace=True)
data

         Country Region  ...  Generosity  Dystopia Residual
0    Switzerland      0  ...     0.29678            2.51738
1        Iceland      0  ...     0.43630            2.70201
2        Denmark      0  ...     0.34139            2.49204
3         Norway      0  ...     0.34699            2.46531
4         Canada      1  ...     0.45811            2.45176
..           ...    ...  ...         ...                ...
153       Rwanda      7  ...     0.22628            0.67042
154        Benin      7  ...     0.18260            1.63328
155        Syria      3  ...     0.47179            0.32858
156      Burundi      7  ...     0.19727            1.83302
157         Togo      7  ...     0.16681            1.56726

[158 rows x 12 columns]

In [107]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
data = pd.read_csv("2015.csv")
X = data.iloc[:,0:19]  #independent columns
y = data.iloc[:,-1]    #target column i.e price range
#apply SelectKBest class to extract top 10 best features
Regions=[]
Regions=data['Region'].unique()
print(Regions)

['Western Europe' 'North America' 'Australia and New Zealand'
 'Middle East and Northern Africa' 'Latin America and Caribbean'
 'Southeastern Asia' 'Central and Eastern Europe' 'Eastern Asia'
 'Sub-Saharan Africa' 'Southern Asia']

In [0]:
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Region','Country']  #naming the dataframe columns
print(featureScores.nlargest(10,'Country'))  #print 10 best features