<a href="https://colab.research.google.com/github/aghapygad336/MENA/blob/master/MENA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [170]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/2015.csv',encoding = "ISO-8859-1", engine = 'python')
data

         Country  ... Dystopia Residual
0    Switzerland  ...           2.51738
1        Iceland  ...           2.70201
2        Denmark  ...           2.49204
3         Norway  ...           2.46531
4         Canada  ...           2.45176
..           ...  ...               ...
153       Rwanda  ...           0.67042
154        Benin  ...           1.63328
155        Syria  ...           0.32858
156      Burundi  ...           1.83302
157         Togo  ...           1.56726

[158 rows x 12 columns]

In [174]:
Region_nums = {"Region":     {'Western Europe':0, 'North America':1, 'Australia and New Zealand':2,
 'Middle East and Northern Africa':3, 'Latin America and Caribbean':4,
 'Southeastern Asia':5, 'Central and Eastern Europe':9, 'Eastern Asia':6,
 'Sub-Saharan Africa':7, 'Southern Asia':8}}
print(type(Region_nums))
data['Region'].replace(Region_nums, inplace=True)
Countries=[]
Countries=data['Country'].unique()
Countries={Countries[i]: i for i in range(len(Countries))}
Countries_nums = Countries
print(Countries_nums)
data['Country'].replace(Countries_nums, inplace=True)
data['Country']
data

<class 'dict'>
{'Switzerland': 0, 'Iceland': 1, 'Denmark': 2, 'Norway': 3, 'Canada': 4, 'Finland': 5, 'Netherlands': 6, 'Sweden': 7, 'New Zealand': 8, 'Australia': 9, 'Israel': 10, 'Costa Rica': 11, 'Austria': 12, 'Mexico': 13, 'United States': 14, 'Brazil': 15, 'Luxembourg': 16, 'Ireland': 17, 'Belgium': 18, 'United Arab Emirates': 19, 'United Kingdom': 20, 'Oman': 21, 'Venezuela': 22, 'Singapore': 23, 'Panama': 24, 'Germany': 25, 'Chile': 26, 'Qatar': 27, 'France': 28, 'Argentina': 29, 'Czech Republic': 30, 'Uruguay': 31, 'Colombia': 32, 'Thailand': 33, 'Saudi Arabia': 34, 'Spain': 35, 'Malta': 36, 'Taiwan': 37, 'Kuwait': 38, 'Suriname': 39, 'Trinidad and Tobago': 40, 'El Salvador': 41, 'Guatemala': 42, 'Uzbekistan': 43, 'Slovakia': 44, 'Japan': 45, 'South Korea': 46, 'Ecuador': 47, 'Bahrain': 48, 'Italy': 49, 'Bolivia': 50, 'Moldova': 51, 'Paraguay': 52, 'Kazakhstan': 53, 'Slovenia': 54, 'Lithuania': 55, 'Nicaragua': 56, 'Peru': 57, 'Belarus': 58, 'Poland': 59, 'Malaysia': 60, 'Croatia': 61, 'Libya': 62, 'Russia': 63, 'Jamaica': 64, 'North Cyprus': 65, 'Cyprus': 66, 'Algeria': 67, 'Kosovo': 68, 'Turkmenistan': 69, 'Mauritius': 70, 'Hong Kong': 71, 'Estonia': 72, 'Indonesia': 73, 'Vietnam': 74, 'Turkey': 75, 'Kyrgyzstan': 76, 'Nigeria': 77, 'Bhutan': 78, 'Azerbaijan': 79, 'Pakistan': 80, 'Jordan': 81, 'Montenegro': 82, 'China': 83, 'Zambia': 84, 'Romania': 85, 'Serbia': 86, 'Portugal': 87, 'Latvia': 88, 'Philippines': 89, 'Somaliland region': 90, 'Morocco': 91, 'Macedonia': 92, 'Mozambique': 93, 'Albania': 94, 'Bosnia and Herzegovina': 95, 'Lesotho': 96, 'Dominican Republic': 97, 'Laos': 98, 'Mongolia': 99, 'Swaziland': 100, 'Greece': 101, 'Lebanon': 102, 'Hungary': 103, 'Honduras': 104, 'Tajikistan': 105, 'Tunisia': 106, 'Palestinian Territories': 107, 'Bangladesh': 108, 'Iran': 109, 'Ukraine': 110, 'Iraq': 111, 'South Africa': 112, 'Ghana': 113, 'Zimbabwe': 114, 'Liberia': 115, 'India': 116, 'Sudan': 117, 'Haiti': 118, 'Congo (Kinshasa)': 119, 'Nepal': 120, 'Ethiopia': 121, 'Sierra Leone': 122, 'Mauritania': 123, 'Kenya': 124, 'Djibouti': 125, 'Armenia': 126, 'Botswana': 127, 'Myanmar': 128, 'Georgia': 129, 'Malawi': 130, 'Sri Lanka': 131, 'Cameroon': 132, 'Bulgaria': 133, 'Egypt': 134, 'Yemen': 135, 'Angola': 136, 'Mali': 137, 'Congo (Brazzaville)': 138, 'Comoros': 139, 'Uganda': 140, 'Senegal': 141, 'Gabon': 142, 'Niger': 143, 'Cambodia': 144, 'Tanzania': 145, 'Madagascar': 146, 'Central African Republic': 147, 'Chad': 148, 'Guinea': 149, 'Ivory Coast': 150, 'Burkina Faso': 151, 'Afghanistan': 152, 'Rwanda': 153, 'Benin': 154, 'Syria': 155, 'Burundi': 156, 'Togo': 157}

     Country  Region  ...  Generosity  Dystopia Residual
0          0       0  ...     0.29678            2.51738
1          1       0  ...     0.43630            2.70201
2          2       0  ...     0.34139            2.49204
3          3       0  ...     0.34699            2.46531
4          4       1  ...     0.45811            2.45176
..       ...     ...  ...         ...                ...
153      153       7  ...     0.22628            0.67042
154      154       7  ...     0.18260            1.63328
155      155       3  ...     0.47179            0.32858
156      156       7  ...     0.19727            1.83302
157      157       7  ...     0.16681            1.56726

[158 rows x 12 columns]

In [187]:
data.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

##Feature importance gives you a score for each feature of your data, the higher the score more important or relevant is the feature towards your output variable.Apply SelectKBest class to extract  features

In [227]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
#apply SelectKBest class to extract top 10 best features
scaler = MinMaxScaler()
scaler.fit(data)
magic_norm = scaler.transform(data)
xx = magic_norm[:, 0:12]  # independent columns
xx = np.array(xx)

nameOflabels = [
 'Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'
]
xx=xx.transpose()
print(xx.shape)
df = pd.DataFrame(xx, index=nameOflabels)
xx=df.transpose()

yy = magic_norm[:, -1]  # target column
xx.shape
yy.shape

(12, 158)

(158,)

In [232]:
xx

      Country    Region  ...  Generosity  Dystopia Residual
0    0.000000  0.000000  ...    0.372895           0.668630
1    0.006369  0.000000  ...    0.548198           0.725030
2    0.012739  0.000000  ...    0.428947           0.660889
3    0.019108  0.000000  ...    0.435983           0.652724
4    0.025478  0.111111  ...    0.575602           0.648584
..        ...       ...  ...         ...                ...
153  0.974522  0.777778  ...    0.284314           0.104425
154  0.980892  0.777778  ...    0.229432           0.398557
155  0.987261  0.333333  ...    0.592790           0.000000
156  0.993631  0.777778  ...    0.247864           0.459573
157  1.000000  0.777778  ...    0.209592           0.378389

[158 rows x 12 columns]

In [0]:
import pandas
import numpy
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# feature extraction
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(xx, yy)
# summarize scores
numpy.set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(xx)
# summarize selected features
print(features[0:5,:])